<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to "MyApp", static_pages_landing_page_path, :class => "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", static_pages_index_path %></li>
          <li><%= link_to "About", static_pages_about_path %></li>
          <li><%= link_to "Contact", static_pages_contact_path %></li>
          <li><%= link_to "Bike 1", product_path(1) %></li>
          <li><%= link_to "Bike 3", product_path(3) %></li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p>&copy; 2015 Bike Berlin</p>
      </div>
    </nav>
  </body>
</html>
